#text-input{width: 500px;}
#meme-image-container{width: 500px; height: 500px; border: 1px solid black; margin: 20px;  text-align: center; background-color: white;}
#meme-text{width: 450px; height: 50px; border: 1px solid black; margin: auto; margin-top: 430px; position: relative; font-size: 20px;}
#meme-insert{float: right; border: 1px solid black; margin-top: -300px;}